html {
	font-family: sans-serif;
	text-align: center;
	background: #777;
}
h1 {
	color: white;
	text-shadow: 1px 1px 3px black;
	font-style: italic;
}

.game {
	position: relative;
	width: 600px;
	height: 600px;
	margin:auto;
}
.join {
	position: absolute;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	
	left: 40px;
	right: 40px;
	top: 40px;
	z-index: 10000;
}
.join,
.join a {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}
.join .robohash img {
	width: 150px;
	height: 150px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.join .robohash img.loading {
	opacity: 0.5;
}
.join input,
.join button {
	outline-color: black;
}

.field {
	width:600px;
	height:600px;
	box-shadow: 0 0 3px black;
	-webkit-box-shadow: 0 0 10px black;
	background: white;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.field img {
	position: absolute;
	/*-moz-transition: top 100ms, left 100ms;*/
	/*-webkit-transition: top 100ms, left 100ms;*/
	-webkit-user-drag: none;
	-moz-user-drag: none;
	user-drag: none;
	pointer-events: none;
	
	border: solid 1px rgba(0,0,0,0.25);
	-moz-border-radius: 50px;
	border-radius: 50px;
}
/** @todo We'd really like to be able to do this!
.field img::after {
	content: attr(alt);
	position: absolute;
	bottom: -1em;
}
*/
.field .me {
	z-index: 1000;
	-webkit-animation-name: me-border-animation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: me-border-animation;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes me-border-animation {
	0%   { border-color: rgba(0,0,0,0.25); }
	50%  { border-color: rgba(0,0,0,1.0); }
	100% { border-color: rgba(0,0,0,0.25); }
}
@-moz-keyframes border-animation {
	0%   { border-color: rgba(0,0,0,0.25); }
	50%  { border-color: rgba(0,0,0,1.0); }
	100% { border-color: rgba(0,0,0,0.25); }
}

.field .it {
	background: rgba(255,0,0, 0.3);
}
.field .untaggable {
	-webkit-animation-name: untaggable-animation;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: untaggable-animation;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes untaggable-animation {
	0%   { background-color: rgba(0,255,0,0.3); }
	100% { background-color: rgba(0,255,0,0.0); }
}
@-moz-keyframes untaggable-animation {
	0%   { background-color: rgba(0,0,0,0.25); }
	100% { background-color: rgba(0,255,0,0.0); }
}

footer {
	margin-top: 1em;
	font-size:small;
	color: #aaa;
	text-shadow: 1px 1px 1px #333;
}
footer address {
	font-style: normal;
}
footer a {
	color: #ccc;
}
footer a:hover,
footer a:active,
footer a:focus {
	color: #FFFFCC;
}